body {
    display: flex;
    background-color: rgb(13,17,23);
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

#container {
    border: 2px solid red;
    width: 960px;
    height: 960px;
    display:flex;
    flex-wrap: wrap;
    
}